html, body, figure, figcaption, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: 'VT323';
  text-align: center;
  background: #c0c1c3;
}

h1 {
  font-size: 60px;
  margin: 30px;
}

.score {
  text-align: left;
  font-size: 33px;
  width: 400px;
  margin: 0 auto;
}

figure {
  display: inline-block;
  border: 2px solid black;
  overflow: hidden;
  box-shadow: inset 4px 2px 2px #8b8989;
}

ul:after {
  content: "";
  clear: both;
  display: block;
}

li {
  float: left;
  width: 20px;
  height: 20px;
}

.snake {
  background: black;
  border-radius: 6px;
  box-shadow: 5px 3px 3px #8b8989;
}

.apple {
  background-image: url("https://s3.amazonaws.com/okcookiedev/static_images/apple.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 21px 21px;
}

.game-frame {
    background-color: #a9cd97;
    width: 500px;
    padding-bottom: 50px;
    padding-top: 20px;
    margin: 0 auto;
    border: 20px solid black;
    border-radius: 9px;
    box-shadow: inset 6px 3px 3px #8b8989;
}

.game-over {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 64px;
  margin: auto;
  height: 40px;
  font-weight: 700;
}

.play-again {
  font-size: 22px;
}
