html, body, figure, figcaption, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

ul {
  list-style: none;
}

.group {
  content: "";
  clear: both;
  display: block;
}

body {
  font-family: 'VT323';
  text-align: center;
  background: #c0c1c3;
}

h1 {
  font-size: 60px;
  margin: 20px auto;
  width: 1050px;
}

.score {
  text-align: left;
  font-size: 33px;
  width: 400px;
  margin: 0 auto;
}

figure {
  display: inline-block;
  border: 2px solid black;
  overflow: hidden;
  box-shadow: inset 4px 2px 2px #8b8989;
}

.snake-game {
  position: relative;
}

ul:after {
  content: "";
  clear: both;
  display: block;
}

li {
  float: left;
  width: 20px;
  height: 20px;
}

.snake {
  background: black;
  border-radius: 6px;
  box-shadow: 5px 3px 3px #8b8989;
}

.apple {
  background-image: url("https://s3.amazonaws.com/okcookiedev/static_images/apple.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 21px 21px;
}

.game-frame {
    background-color: #a9cd97;
    width: 500px;
    padding-bottom: 50px;
    padding-top: 20px;
    margin: 0 auto;
    border: 20px solid black;
    border-radius: 9px;
    box-shadow: inset 6px 3px 3px #8b8989;
    float: left;
}

.game-over {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 64px;
  margin: auto;
  height: 115px;
  font-weight: 700;
}

.play-again {
  font-size: 22px;
}

.bottons {
  height: 120px;
  width: 160px;
  float: left;
  margin-top: 220px;
  padding-left: 100px;
}

.bottons > li:last-child {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: #ab1991;
  border: 1px solid black;
  box-shadow: 2px 1px 1px black;
}

.bottons > li:first-child {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: #ab1991;
  margin-left: 80px;
  border: 1px solid black;
  box-shadow: 2px 1px 1px black;
}

.cross {
  float: left;
  width: 150px;
  height: 150px;
  margin-top: 200px;
  padding-right: 100px;
}

.cross > ul > li {
  float: left;
  width: 50px;
  height: 50px;
}

.top {
  background-color: #494848;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 2px 1px 1px black;
}

.left {
  background-color: #494848;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 2px 1px 1px black;
}

.right {
  background-color: #494848;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 2px 1px 1px black;
}

.bottom {
  background-color: #494848;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 2px 1px 1px black;
}

.middle {
  background-color: #494848;
}

.gameboy {
  margin: 0 auto;
  width: 1050px;
}

.pressed-top {
  background: -webkit-linear-gradient(#2c2b2b, #494848); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#2c2b2b, #494848); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#2c2b2b, #494848); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#2c2b2b, #494848); /* Standard syntax */
}

.pressed-bottom {
  background: -webkit-linear-gradient(#494848, #2c2b2b); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#494848, #2c2b2b); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#494848, #2c2b2b); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#494848, #2c2b2b); /* Standard syntax */
}

.pressed-right {
  background: -webkit-linear-gradient(left, #494848, #2c2b2b); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #494848, #2c2b2b); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #494848, #2c2b2b); /* For Firefox 3.6 to 15 */
  background: linear-gradient(right, #494848, #2c2b2b); /* Standard syntax */
}

.pressed-left {
  background: -webkit-linear-gradient(left, #2c2b2b, #494848); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #2c2b2b, #494848); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #2c2b2b, #494848); /* For Firefox 3.6 to 15 */
  background: linear-gradient(right, #2c2b2b, #494848); /* Standard syntax */
}
