html, body, figure, figcaption, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-size: 60px;
  margin: 30px;
}

figure {
  display: inline-block;
  border: 2px solid black;
  overflow: hidden;
}

ul:after {
  content: "";
  clear: both;
  display: block;
}

li {
  float: left;
  width: 20px;
  height: 20px;
}

.snake {
  background: black;
  border-radius: 6px;
  box-shadow: 5px 3px 3px #8b8989;
}

.apple {
  background: black;
  border-radius: 50%;
  box-shadow: 5px 3px 3px #8b8989;
}
