  head, body, html, figure, h1, ul, li {
    padding: 0;
    margin: 0;
    border: 0;

    font: inherit;
    text-decoration: inherit;
    text-align: inherit;
    color: inherit;

    background: transparent;
  }

  ul {
    list-style: none;
  }

  body {
    color: black;
    font-family: sans-serif;
    font-size: 24px;
    text-align: center;
  }

  .all-towers {
    border: 5px solid red;
    height: 300px;
    width: 600px;
    margin: auto
  }

  .tower {
    float: left;
    border: 5px solid red;
    height: 290px;
    width: 190px;
  }

  .disk {
    margin: 5px auto;
    height: 90px;
    display: block;
  }

  .size1 {
    width: 25%;
    background: blue;
  }

  .size2 {
    width: 50%;
    background: pink;
  }

  .size3 {
    width: 75%;
    background: yellow;
  }

  .invisible {
    display: none;
  }
